@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
body {
  font-family: 'Yomogi', cursive; 
  padding: 2em;
  background: #f9f9f9;
}
button {
  margin: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
}



